.signInButton {
    text-align: center;
    font-size: 1.1vw;
    border: 0.0em solid white;
    border-radius: 0.75em;
    background-color:  rgb(78, 138, 205);
    color: white;
    padding: 0.4em 1em;
    outline: 0;
    height: 5vh;
    width: 15vw;
    margin-bottom: 6em;
}

.pageBackground {
    background-color: rgb(220,245,236);
    width: 100%;
    position: absolute;
    top: 60px;
    bottom: 32px;
}

::placeholder {
    color: rgb(192, 192, 192);
}

.loginBackground {
    top: 15vh;
    bottom: 15vh;
    left: 39%;
    right: 39%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 6vh 1vw 0vh 1vw;
}

.emailBar p {
    text-align: center;
    padding-bottom: 8px;
    margin: auto;
    height: 50px;
    font-size: 20px;
    border: 0.2em;
    border-color: rgb(78, 138, 205);
    resize: vertical;
    overflow: auto;
    font-size: 16px;
}

.emailBar input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color: white;
}

.emailBar a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.textBox {
    font-size: 1.25vw;
    height: 6vh;
    width: 98%;
}

.loginHeader {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.8vw;
    color: white;
}

.centerLogIn {
    text-align: center;
    margin: auto;
}