.navBar {
    margin: 0;
    padding: 0 0px;
    box-sizing: border-box;
    background-color: rgb(78, 138, 205);
    height: 60px;
    width: 100%;
    position: fixed;
}

.logo {
    width: 150px;
    height: 70%;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 1%;
    border-color: rgba(0, 0, 0, 0);
}

.navButton {
    margin: 0px;
    border-style: solid;
    border-color: white;
    border-left-width: 0.25px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    width: 100px;
    height: 100%;
    color: white;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(78, 138, 205);
    font-size: 17px;
    transition: 0.4s;
}

.rightButton {
    border-style: solid;
    border-right-width: 0.25px;
    border-color: white;
}

.buttonsGroup {
    width: 400px;
    height: 100%;
    float: right;
    font-size: 0;
}

button:hover {
     background-color: white;
     color: rgb(78, 138, 205);
     border-bottom-color: rgb(78, 138, 205);
     border-style: solid;
     border-bottom-width: 0.25px;
     transition: all 0.4s;
     cursor: pointer;
}