.profileInfo {
    margin-top: 50px;
    width: 100%;
    border-bottom-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 100px;
    bottom: 752px;
}

.profileInfo {
    background: linear-gradient(-45deg, rgb(78, 138, 205), rgb(100,158,203), rgb(121,177,200), rgb(142,197,198), rgb(163, 216, 195));
    background-size: 100% 100%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    border-bottom: solid rgb(255, 255, 255) 4px;
    position: absolute;
    top: 10px;
    height: 160px;
}

.displayFormat {
    margin-top: 50px;
}

.accountName {
    padding-top: 10%;
    padding-left: 40%;
}







.column {
    float: left;
    background-color: rgb(238, 237, 238);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    position: absolute;
    top: 60px;
    bottom: 32px;
    width: 100%;
}

.leftCol {
    width: 30%;
    height: 100%;
}

.centerCol {
    width: 49%;
    height: 100%;
}

.rightCol {
    width: 21%;
    height: 100%;
    border-left: 1px;
    border-color: rgb(238, 237, 237);
}

.profile {
    height: 24%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profileCard {
    background-color: white;
    height: 100%;
    width: 90%;
    margin: 0%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.bios {
    background-color: rgb(238, 237, 237);
    height: 65%;
    width: 100%;
}

.biosCard {
    background-color: white;
    height: 90%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.reviewPost {
    background-color: rgb(238, 237, 237);
    border-left: white solid 1px;
    border-bottom: rgb(238, 237, 237) 1px;
    height: 70%;
    width: 90%;
}

.reviewCard {
    background-color: white;
    height: 100%;
    width: 88%;
    padding: 4%;
    margin-left: 7.5%;
    margin-top: 7.5%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.reviewPosting {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 20%;
    background-color: white;
    border: rgb(238, 237, 237) solid 2px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}


.underline {
    display: block;
    color: rgb(90, 114, 141);
    margin: 0 auto;
    width: 90%;
    height: 1px;
    border: 0;
    padding: 0;
    background-color: rgb(90, 114, 141);
}

.createPost {
    background-color: rgb(238, 237, 237);
    height: 30%;
    width: 100% - 5px;
    border-left: white solid 1px;
    border-bottom: rgb(238, 237, 237) 1px;
}

.postFeed {
    background-color: rgb(238, 237, 237);
    height: 70%;
    width: 100% - 5px;
    border-left: white solid 1px;
    border-right: white solid 1px;
}

.profilePhoto {
    display: block;
    height: 75%;
    width: 28%;
    margin-top: 5%;
    margin-left: 5%;
    border: rgb(221, 221, 221) solid 1px;
    float: left;
}

.reviewDescription {
    width: 88%;
    height: 34%;
    margin-left: 3%;
    margin-bottom: 1.5%;
    vertical-align: text-top;
    font-size: 15px;
    border-color: transparent !important;
}

.userName {
    font-size: 18px;
    padding-left: 40%;
    padding-top: 13%;
}

.rating {
    padding-top: 2%;
    padding-left: 40%;
}

h5 {
    color: rgb(90, 114, 141);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.postUploadAccount {
    height: 100%;
    width: 25%;
    float: left;
}

.postInformation {
    height: 100%;
    width: 75%;
    float: left;
}

.postDescription {
    height: 77%;
    width: 69%;
    float: left;
    border-left: rgb(173, 173, 173) solid 1.5px;
}

.descriptionDetails {
    overflow-x: auto;
    font-size: 15px;
}

.titleAccount {
    width: 88%;
    height: 13%;
    margin-top: 4.4%;
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 20px;
}

.descriptionAccount {
    width: 88%;
    height: 34%;
    margin-left: 3%;
    margin-bottom: 1.5%;
    vertical-align: text-top;
    font-size: 15px;
}

textarea {
    resize: none;
    border: rgb(153, 153, 153) solid 1.5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.insertHere {
    height: 55%;
    width: 65%;
    border: rgb(116, 116, 116) solid 1.5px;
    margin-left: 23%;
    margin-top: 13%;
    display: block;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.uploadPhoto {
    background-color: rgb(78, 138, 205);
    color: white;
    border: gray solid 1px;
    width: 65%;
    height: 13%;
    margin-left: 23%;
    margin-top: 5%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.createAccountPost {
    background-color: rgb(78, 138, 205);
    color: white;
    border: gray solid 1px;
    width: 89%;
    height: 13%;
    margin-left: 3%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}