
.textfieldTerms {
    position: absolute;
    top: 60px;
    bottom: 32px;
    background-color: rgb(238, 237, 237);
    width: 100%;
    height: 100%-32px;
}

.headerTerms {
    width: 60%;
    height: 15%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 3.2vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 3%;
}

.textBoxTerms {
    width: 60%;
    height: 75%-32px;
    font-size: 1.1vw;
    text-align: center;
    margin: auto;
}