
.column {
    float: left;
    background-color: rgb(238, 237, 237);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    position: absolute;
    top: 60px;
    bottom: 32px;
    width: 100%;
}

.leftSide {
    width: 30%;
    height: 100%;
}

.rightSide {
    width: 70%;
    height: 100%;
}

.profile {
    height: 24%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profileCard {
    background-color: white;
    height: 100%;
    width: 90%;
    margin: 0%;
    border-radius: 0.5em;
}

.filters {
    background-color: rgb(238, 237, 237);
    height: 60%;
    width: 100%;
}

.filtersCard {
    background-color: white;
    height: 90%;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 0.5em;
}

.createPost {
    background-color: rgb(238, 237, 237);
    height: 30%;
    width: 100% - 5px;
    border-left: white solid 1px;
    border-bottom: white solid 1px;
}

.postFeed {
    background-color: rgb(238, 237, 237);
    height: 92% !important;
    width: 100% - 5px;
    border-left: white solid 1px;
    margin-top: 2%;
    overflow-y: auto;
    overflow-x: hidden;
}

.rating {
    padding-top: 2%;
    margin-left: 10%;
}

h5 {
    color: rgb(90, 114, 141);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.postUpload {
    height: 100%;
    width: 20%;
    float: left;
}

.postInformation {
    height: 100%;
    width: 80%;
    float: left;
}

.title {
    width: 62%;
    height: 12%;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 20px;
    border-radius: 0.25em;
}

.description {
    width: 62%;
    height: 32%;
    margin-left: 3%;
    margin-bottom: 1.5%;
    vertical-align: text-top;
    font-size: 15px;
    border-radius: 0.25em;
}

textarea {
    resize: none;
    border: rgb(153, 153, 153) solid 1.5px;
    font-family: Arial, Helvetica, sans-serif; 
}

.insertHere {
    height: 55%;
    width: 65%;
    border: rgb(116, 116, 116) solid 1.5px;
    margin-left: 23%;
    margin-top: 13%;
    display: block;
}

.uploadPhoto {
    background-color: rgb(78, 138, 205);
    color: white;
    border: gray solid 1px;
    width: 65%;
    height: 13%;
    margin-left: 23%;
    margin-top: 5%;
    border-radius: 0.25em;
}

.create {
    background-color: rgb(78, 138, 205);
    color: white;
    border: gray solid 1px;
    width: 63%;
    height: 13%;
    margin-left: 3%;
    border-radius: 0.25em;
}

h4 {
    text-align: center;
    font-size: 2vw;
}

.placeHolder {
    background-color: white;
    border-radius: 0.5em;
    width: 68%;
    height: 35%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.postTitle {
    background-color: rgb(78, 138, 205);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 100%;
    height: 16%;
    color: white;
    font-size: 20px;
    display: inline-block;
}

.floatRight {
    float:right;
    padding-right: 1.5%;
    padding-top: 0.75%;
}

.postInfo {
    width: 100%;
    height: 100%;
}

.postInfo:after {
    content: "";
    display: table;
    clear: both;
}

.postPicture {
    height: 65%;
    width: 27%;
    float: left;
    padding-top: 5%;
    padding-left: 3%;
}

.postDescription {
    height: 84% !important;
    width: 69%;
    float: left;
    border-left: rgb(173, 173, 173) solid 1.5px;
}


.itemPicture {
    height: 70%;
    width: 70%;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-top: 1%;
    padding-left: 2%;
}

.descriptionDetails {
    overflow-x: auto;
    font-size: 15px;
}

ul {
    padding-left: 35px;
    padding-right: 20px;
}

.radio {
    display: inline-block;
    width: 1vw;
}

.radioTag {
    display: inline-block;
    margin-left: 0.75vw;
    font-size: 1.1vw;
}

.filterItem {
    height: 8%;
}

.createPostHome {
    margin-left: 5%;
    padding-left: 35%;
    padding-right: 35%;
    text-decoration: none;
    border: 0.2vw solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(78, 138, 205);
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1vw;
}

.ghostTitle {
    background-color: rgb(172, 172, 172);
    border-radius: 0.5em;
    width: 100%;
    height: 16%;
    color: white;
    display: inline-block;
}

.ghostPlaceHolder {
    background-color: transparent;
    border-radius: 0.5em;
    width: 68%;
    height: 35%;
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.ghostText {
    font-size: 1.2vw;
}