.background {
    background-color: rgb(238, 237, 237);
    top: 60px;
    bottom: 32px;
    position: absolute;
    width: 100%;
}

.settingsForm {
    background-color: white;
    margin-top: 2%;
    margin-left: 30%;
    height: 600px;
    width: 40%;
    overflow-y: auto;
    border-radius: 10px;
}

h4 {
    margin-top: 3%;
    color: rgb(90, 114, 141);
}

hr {
    width: 80%;
    margin-bottom: 5%;
    border: rgb(133, 133, 133) solid 0.5px;
    background-color: rgb(133, 133, 133);
}

.settingCard {
    position: relative;
    width: 100%;
    height: 5%;
}

p {
    right: 10px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 12%;
    padding-right: 5%;
}

.label {
    color: rgb(90, 114, 141);
}

.align {
    width: 70%;
    margin-bottom: 5.9%;
    margin-left: 5%;
    height: 5.65%;
    border: black solid 1px;
    border-radius: 3px;
    padding-left: 5px;
    color: rgb(172, 172, 172);
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    color: black;
}

.columnLeft {
    text-align: right;
    float: left;
    width: 35%;
    height: 350px;
}

.columnRight {
    text-align: left;
    float: left;
    width: 65%;
    height: 350px;
}

.submit {
    border-radius: 3px;
    width: 30%;
    height: 5%;
    margin-top: 5%;
    margin-left: 35%;
    background-color: rgb(78, 138, 205);
    color: white;
    border: gray solid 1px;
}

.warningForm {
    float: right;
    text-align: center;
    width: 100%;
    height: 50px;
}