.background {
    background-color: rgb(238, 237, 237);
    top: 60px;
    bottom: 32px;
    position: absolute;
    width: 100%;
}

.settingsForm {
    background-color: white;
    overflow-y: auto;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30%;
    right: 30%;
}

h4 {
    margin-top: 3%;
    color: rgb(90, 114, 141);
}

hr {
    width: 80%;
    margin-bottom: 5%;
    border: rgb(133, 133, 133) solid 0.5px;
    background-color: rgb(133, 133, 133);
}

.settingCard {
    position: relative;
    width: 100%;
    height: 5%;
}

.labels {
    color: rgb(90, 114, 141);
    right: 0.75vw;
    margin: 0;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 1.15vw;
}

.align {
    width: 95%;
    margin-top: 3%;
    margin-left: 2%;
    height: 50%;
    border: black solid 1px;
    border-radius: 3px;
    padding-left: 5px;
    color: rgb(172, 172, 172);
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 1vw;
}

.columnLeft {
    text-align: right;
    float: left;
    width: 35%;
    height: 350px;
}

.columnRight {
    text-align: left;
    float: left;
    width: 65%;
    height: 350px;
}

.submit {
    border-radius: 3px;
    width: 30%;
    height: 5%;
    /*margin-top: 5%;
    margin-left: 18%;*/
    position: absolute;
    bottom: 8vh;
    left: 6vw;
    background-color: rgb(78, 138, 205);
    color: white;
    border: gray solid 1px;
    font-size: 1vw;
}

.warningForm {
    float: right;
    text-align: center;
    width: 100%;
    height: 50px;
}

.delete {
    /*margin-left: 5%;*/
    border-radius: 3px;
    width: 30%;
    height: 5%;
    background-color: rgb(172, 0, 0);
    color: white;
    border: gray solid 1px;
    font-size: 1vw;
    position: absolute;
    bottom: 8vh;
    right: 6vw;
}

.rowSettings {
    height: 8%;
    width: 100%;
}

.colLabels {
    height: 100%;
    width: 30%;
    text-align: right;
    vertical-align: middle;
    float: left;
    
}

.colInput {
    height: 100%;
    width: 45%;
    float: left;
}

.colHidden {
    height: 100%;
    width: 25%;
    float: left;
}

.hidden {
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 8px;
    font-size: 1vw;
    color: rgb(90, 114, 141);
    float: left;
    top: 0; 
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
}

checkbox {
    float: left;
}

/* CSS FOR SLIDER BOXES */
.switch {
    position: relative;
    display: inline-block;
    width: 3.2vw;
    height: 3vh;
    margin-top: 6.5%;
    margin-left: 7%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2vh;
    width: 1vw;
    left: 0.3vw;
    bottom: 0.5vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.5vw);
    -ms-transform: translateX(1.5vw);
    transform: translateX(1.5vw);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 1vw;
  }
  
  .slider.round:before {
    border-radius: 1vw;
  }

  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(90, 114, 141);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;   
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(90, 114, 141) transparent transparent transparent;
}